@charset "UTF-8";
/*
    Mini Frufru v1.0
    10 de Agosto de 2020
    Arthur Candido Regueira de Miranda
    arthur.regueira39@gmail.com
    Uma versão simplificada do AgrySoftware Frufru  V18
*/

div.x{
    padding: 8px;
    position: relative;
    width: auto;
    height: auto;
    background-color: #f8f8f8;
    margin: auto auto auto auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 0.3px rgba(0,0,0,.3);
    word-wrap: break-word;
}

